<div class="page-menu">
Pages:
  <ul>
    {% assign catpages = site.pages | group_by:"category" | sort: "name" %}
    {% for cat in catpages %}
      {% if cat.name != "" %}
      <li class="has-sub">
        <span onClick="swap('{{cat.name}}-sublinks')" data-id="{{cat.name}}" class="section-anchor {% if forloop.first %}top-a{% endif %} {% if forloop.last %}bottom-a{% endif %}">
          <span>{{cat.name | capitalize}}</span>
        </span>
          <ul id="{{cat.name}}-sublinks">
            {% for page in cat.items %}
                {% if page.title %}
                  <li>
                    <a href="{{page.url}}"><span>{{page.title}}</span></a>
                  </li>
                {% endif %}
            {% endfor %}
          </ul>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
