---
---

@import "{{ site.theme }}";

section {
  width: 85%;
}

header {
  width: 15%;
}

footer {
  width: 15%;
}

.wrapper {
  width: 100%;
}

body {
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

header p, ul, ol, table, pre, dl {
  margin: 0px;
}

.nav {
  top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  font-weight: bold;
  width: 100%;
  height: 50px;
  display: inline-block;
}

.nav a {
  color: black;
}

.nav img {
  width: 40px;
  height: 40px;
  vertical-align: text-top;
  padding-right: 5px;
}

.nav span {
  vertical-align: text-top;
  margin: 12px 0 12px 0;
}

/*
@media only screen and (max-width : 568px) and (min-width : 321px) {
  .nav {
    font-size: 25px;
  }
  .nav img {
    width: 30px;
    height: 30px;
  }
}
*/
.left {
  float: left;
}

.right {
  float: right;
}

.menuleft {
  float: left;
  font-size: 32px;
  height: 50px;
  @media only screen and (max-width : 320px) {
    font-size: 25px;
  }
}

.menuright {
  float: right;
  font-size: 16px;
  height: 50px;
  text-align: center;

  @media only screen and (max-width : 320px) {
    float: none;
    margin-left: 50px;  
  }
  a { 
    &:not(:first-of-type):before {
      content: "| ";
    }
  }
  input {
    text-align: center;
    width: 120px;
  }
}
