---
---

@import "{{ site.theme }}";

section {
  width: 85%;
}

header {
  width: 15%;
}

footer {
  width: 15%;
}

.wrapper {
  width: 100%;
}

.nav {
  top: 0px;
  margin-top: 20px;
  font-weight: bold;
}

.logo {
  height: 35px;
  display: inline-block;
  font-size: 32px;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  img {
    size(40px,40px);
  }
  @media only screen and (max-width : 568px) and (min-width : 321px) {
    font-size: 25px;
    img {
      size(30px,30px);
    }
  }
}
